<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>

    </style>

    <script>
        //

        //
    </script>
</head>
<body>
<div class="container my-4">
    <h3>thymeleaf 사용 선언</h3>
    <!-- thymeleaf : Spring Framework에서 공식 지원하는 템플릿 엔진-->
    <!-- jsp는 Spring Framework에서 더이상 공식 지원하지 않음-->
    <!-- jsp를 사용하고자 할 경우 추가 설정이 필요함-->

    <!-- gradle 설정에서 종속성을 추가해야 thymeleaf를 사용할 수 있음-->
    <!-- implementation 'org.springframework.boot:spring-boot-starter-thymeleaf'-->

    <!-- application.properties에 설정을 추가하여 사용할 수 있음-->
    <!-- 설정을 추가하지 않으면 기본 설정으로 동작함-->
    <!-- spring.thymeleaf.enabled=true : thymeleaf 사용-->
    <!-- spring.thymeleaf.cache=false : cache 사용, 사용 시 컴파일한 파일만 사용함, 개발 시엔 미사용-->
    <!-- spring.thymeleaf.prefix=classpath:templates/ : 템플릿 파일 위치 지정-->
    <!-- spring.thymeleaf.suffix=.html : View 파일의 기본 확장자 설정-->

    <!-- html 태그에 xmlns:th 속성을 추가하여해당 html 에서 thymeleaf 사용 설정함 -->

    <br>
    <hr>
    <br>

    <h3>표현식</h3>
    <!-- ${변수 or 데이터} : 타임리프가 가지고 있는 데이터를 화면에 출력-->
    <!-- 해당 표현식 안에서 간단한 연산식도 사용이 가능-->
</div>
</body>
</html>